.btn_volver{
    font-size: 22px;
    padding: 5px 10px;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    margin-bottom: 30px;
}

.btn_volver:hover{
    background-color: var(--color-primario);
    color: #fff;
    cursor: pointer;
}

@media (max-width: 620px){
    .btn_volver{
        margin-top: 60px;
    }
}