.icon_st{
    display: flex;
    position: sticky;
    bottom: 15px;
    z-index: 9999;

}

.icon_st .wp_stycky{
    width: 80px;
    margin-left: auto;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

.wp_stycky:hover{
    transform: scale(1.1);
}

@media (max-width: 620px){
    .icon_st{
        position: fixed !important;
        bottom: 10px !important;
        right: -15px;
        z-index: 9998;
    }
}