#Servicio{
    background-color: #fff;
    width: 100vw;
    padding: 10px 50px;
}

#Servicio .apartado{
    padding: 20px 50px;
    display: flex;
}

.apartado .leyenda{
    padding: 5px 20px;
}

.apartado h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.apartado p{
    font-size: 25px;
}

.fade-static {
    width: 35%;
    height: auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    border-radius: 10px;
}

#Servicio .left{
    mask-image: linear-gradient(to right, black 1%, transparent 100%);
}

#Servicio .rigth{
    mask-image: linear-gradient(to left, black 1%, transparent 100%);
}


@media (max-width: 620px){

    #Servicio{
        padding: 5px;
    }

    #Servicio .left{
        display: none;
}

    #Servicio .rigth{
        display: none;
}

    #Servicio .apartado{
        padding: 0;
}

.leyenda h2{
    font-size: 25px;
    margin-bottom: 15px;
}

.leyenda p{
    font-size: 20px;
}

}