#quienes-somos{
    background-color: var(--color-primario);
    color: #fff;
}

p{
    text-align: justify;
    font-size: 20px;
}


.about_subtitle{
    margin-bottom: 15px;
}

.quienes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.quienes .box{
    margin-right: 70px;
}

.quienes img{
    border-radius: 9px;
    max-width: 460px;
}

.carrusel{
    position: relative;
}

.btnizq, .btnder{
    top: 11%;
    height: 78%;
    width: 30px;
    display: none;
}

.carrusel:hover .btnizq,
.carrusel:hover .btnder {
  display: block;
}

.btnder{
    right: 0;
}

.btnizq:hover, .btnder:hover{
    cursor: pointer;
}

@media (max-width: 1024px){

.quienes{
    flex-direction: column;
}

.box img{
    margin: 30px 0;
}

}

@media (max-width: 620px){

    #quienes-somos{
        padding: 15px;
    }

    h2{
        margin-top: 15px;
        font-size: 30px;
        text-align: center;
    }

    .about_subtitle{
        text-align: center;
    }

    .quienes{
        margin: 15px 0;
    }

    .quienes h3{
        font-size: 20px;
    }

    .quienes .box{
        margin: 10px;
        margin-top: 0;
    }

    .quienes img{
    border-radius: 9px;
    max-width: 360px;
    max-height: 200px;
}
}