#areas-asesoria{
    background-color: #fff;
    padding: 15px 50px;
}

.listaordenada{
    margin: 20px 0;
    font-weight: bold;
}

.sublista{
    font-weight: 100;
    padding: 10px 50px;
}

.sublista li {
    list-style: circle;
}

@media (max-width: 620px){
    #areas-asesoria{
        padding: 15px;
    }
}