#experiencia{
    background-color: #fff;
}

.fond{
    
    background-color: #fff;
    
    padding: 50px 100px;
}

.fond h2{
    text-align: center;
    padding: 25px 0;
}

.exp{
    display: flex;
    width: 100%;
    margin: 20px auto;
}
.exp .apartado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp img{
    width: 100px;
}

.exp h3{

font-size: 18px;
text-align: center;
margin: 25px 0;
}

.texto-desplegable h2,
.texto-desplegable h3 {
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.texto-desplegable {
  overflow: hidden;
}
