
.title{
    font-size: 90px;
    text-align: center;
    color: #fff;
    font-family: 'Baskerville Old Face', serif;
    margin-top: 40px;
}

.frase{
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 30px 150px;
}

@media (max-width: 1024px){



}

@media (max-width: 450px){

    .title{
        font-size: 60px;
    }

    .frase{
        margin: 25px 0;
        font-size: 25px;
    }
}

