#mision{
    background-color: #fff;
}

.boxmision img{
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

@media (max-width: 620px){
    #mision{
        padding: 0;
        padding: 15px;
    }
}