@import "tailwindcss";

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    border: none;
    box-shadow: none;
    z-index: 99999;
}

.escritorio{
    color: #fff;
    background-color: var(--color-terciario);
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 0;
    padding: 15px 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 7px 10px #000;

}

.padding0{
    padding: 0;
}

@media (max-width: 620px){

    .navbar{
        display: none;
    }

}