@import "tailwindcss";

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    border: none;
    box-shadow: none;
}

.escritorio{
    color: #fff;
    background-color: var(--color-terciario);
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 0;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 7px 10px #000;

}

.padding0{
    padding: 0;
}

@media (max-width: 450px){

    .navbar{
        display: none;
    }

}