@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


#servicios{
    background-color: var(--color-primario);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

#servicios h2{
    margin-bottom: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p{
    text-align: justify;
    font-size: 20px;
}

.about_subtitle{
    margin-bottom: 15px;
}

.quienes .box{
}

.content_catalogo{
    display: flex;
    margin: auto;
}

.content_catalogo .img {
    text-align: center;
}

.content_catalogo h5{
    font-size: 20px;
    margin-bottom: 20px;
}

.iconosS{
    display: flex;
}

.iconosS .grupo{
    display: flex;
}



.img{
}

.img .circulo{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;

}


.circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    z-index: 1;
    position: relative;
    transition: 0.3s ease;
}


.circulo h5{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease; 
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.circulo:hover h5 {
    transform: translateY(-50%) scale(0.8); 
}

.tooltip-servicios {
    position: absolute;
    top:  270px;
    left: 0%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    font-weight: bold;
    width: 220px;
    z-index: 10;
    color: #333;
    text-align: center;
    border-radius: 9px;
}


.modal{
    margin-top: 60px;
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 9px;
    box-shadow: 0 0 10px #000;
    position: relative;
}

.modal .close{
    position: absolute;
    right: 15px;
    top: 5px;
    color: #000;
    font-size: 30px;
}

.modal .close:hover{
    color: red;
    cursor: pointer;
}

.curso-activo .video, .titlevideo{
    width: 520px;
    font-family: Arial, Helvetica, sans-serif;
}

.curso-activo .video{
    width: 400px;
}

.video iframe{
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

.curso-activo{
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 620px){
    #servicios{
        padding: 15px;
    }

    .img .circulo{
    width: 150px;
    height: 150px;
    margin: 10px 10px;

}

#servicios h2{
    font-size: 25px;
}

.curso-activo .video{
    width: 300px;
}

}