@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


#servicios{
    background-color: var(--color-primario);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

#servicios h2{
    margin-bottom: 30px;
}


p{
    text-align: justify;
    font-size: 20px;
}

.about_subtitle{
    margin-bottom: 15px;
}

.quienes .box{
}

.content_catalogo{
    display: flex;
    margin: auto;
}

.content_catalogo .img {
    text-align: center;
}

.content_catalogo h5{
    font-size: 20px;
    margin-bottom: 20px;
}

.iconosS{
    display: flex;
}

.iconosS .grupo{
    display: flex;
}



.img{
}

.img .circulo{
    max-width: 300px;
    border-radius: 50%;
    display: flex;
    box-sizing: border-box;
    align-content: center;

}

.circulo img{
    padding: 30px;
    
    transition: transform 0.3s ease;
}

.circulo img:hover{
     filter: brightness(0.7);
      transform: scale(1.05);
  cursor: pointer;
}

.tooltip-servicios {
  position: absolute;
  top:  270px;
  left: 0%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  font-weight: bold;
  width: 220px;
  z-index: 10;
  color: #333;
  text-align: center;
  border-radius: 9px;
}


.modal{
    margin-top: 60px;
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 9px;
    box-shadow: 0 0 10px #000;
    position: relative;
}

.modal .close{
    position: absolute;
    right: 15px;
    top: 5px;
    color: #000;
    font-size: 30px;
}

.modal .close:hover{
    color: red;
    cursor: pointer;
}


@media (max-width: 620px){
    #servicios{
        padding: 15px;
    }
}