
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --color-primario: #002A64;   
    --color-secundario: #7C9FC5; 
    --color-terciario: #000;  
}

#quienes-somos, #mision, #servicios, #beneficios, #contacto, #empre, #fundadores{
    
    padding: 65px 100px;
}

@font-face {
    font-family: 'Baskerville Old Face';
    src: url('../font-library/baskerville-old-face/baskerville-old-face.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;                
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0009; 
    z-index: -10;                      
}

.subtitle{

    font-size: 35px;
    font-weight: bold;

}

h2{
    font-size: 45px;
}

.none{
    display: none;
}

.content_home{
    position: relative;
}

@media (max-width: 1024px){

.noneM{
    display: none;
}

.frase{
    font-size: 35px !important;
}

}

@media (max-width: 1100px){
    
    .split-text-container{
        font-size: 60px !important;
    }

    .frase{
        font-size: 25px !important;
        margin: 9px !important;
        margin-top: 20px !important;
    }

    .Fondoflecha{
        width: 330px !important;
        top: 130px !important;
    }

    .iconosS{
    flex-direction: column;
}

    .iconosS .grupo{
        display: flex;
}

    
}

@media (max-width: 650px){

    body{
        
    background-repeat: no-repeat;    
    background-size: 750px auto; 
    }

    .title{
        font-size: 10px;
    }

    .split-text-container{
        font-size: 50px !important;
    }

    .Fondoflecha{
        width: 260px !important;
        top: 150px !important;
    }

    .frase{
        font-size: 25px !important;
    }

    #quienes-somos{
        padding: 20px !important;
    }
}

@media (max-width: 620px){
    html, body {
    overflow-x: hidden;
}

    body{
        
    background-repeat: no-repeat;    
    background-size: 750px auto; 
    }


    .title{
        font-size: 10px;
    }

    .split-text-container{
        font-size: 50px !important;
    }

    .servititleM{
    }

    .menu{
        display: block;
    }

    .content_home{
        margin-top: 150px;
    }

    .iconosS{
        margin-bottom: 20px;
    }

    .frase{
        margin-bottom: 35px !important;
    }

}