#videos{
    background-color: var(--color-primario);
    color: #fff;
}

.seccion_video{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seccion_video iframe{
    
    width: 100%;
    max-width: 550px; 
    border-radius: 25px;
    box-shadow: 0 0 10px #000;
}

.seccion_video .part{
    width: 550px;
    padding: 25px;
}

.part h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}


@media (max-width: 620px) {
    .part h2{
        font-size: 18px;
    }

    .part p{
        font-size: 15px;
    }

    .seccion_video iframe{
    
    width: 100%;
    max-width: 550px; 
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 10px #000;
}

.seccion_video .part{
    width: 550px;
    padding: 25px;
}

}